.ticket {
  border-style: solid;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: whitesmoke;
}

.hideTicketButton {
  background-color: transparent;
  color: blue;
  border-style: none;
  padding-right: 10px;
}

.hideTicketButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.label {
  padding: 1px;
  margin-left: 5px;
  /* border-style: solid; */
  background-color: grey;
  color: white;
  border-radius: 10%;
  /* border-radius: 1px; */
}
